# Created by https://gitignore.io/api/sbt,metals

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### SBT Patch ###
.bsp/

### Metals ###
.metals/
.bloop/
project/**/metals.sbt

#### END gitignore.io

### Chiseltest ###
test_run_dir/

### IDEs ###
.vscode/
.idea/
